
.main-card {
    display:flex;
    flex-wrap: wrap;
}

.card {
    text-align:left;
    box-shadow: 4px 6px 6px 0px #b9b9b9;
    border-radius: 5px;
    margin:1em;
    display: inline-block;
    width: 15rem;
    height: 1%;

}

.card > div {
    padding:1px 10px 10px 10px;
    
}

.card > div > p {
    margin: 0;
    color: black;
    padding: 1px;
    font-size: 12px;

}

.card > div > h3 {
    margin:0;
    font-size:14px;
    padding:10px 0px 0px;
}


.card > img {
    width: 100%;
    height: 200px;
}

.card-button {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.card-button > a {
    padding: 5px 8px;
    background:#ffae1a;
    margin: 2px;
    border-radius: 3px;
    font-weight: bold;
    cursor :pointer;
    box-shadow: 3px 3px 1px 0px #c3bcbc;
}


.header {
    background:wheat;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.header > p {
    padding: 3px;
    margin: 1rem;
}

.header > h4 {
    margin:0;
    padding:20px;
}

.menu {
    height: 50px;
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

.menu > p {
    margin: 0;
    text-align: initial;
    padding: 8px;
    font-weight: bold;
}

.menu > div > button {
    margin: 5px;
    padding: 5px;
    margin: 5px;
    padding: 5px;
    outline: none;
    border: none;
    background: wheat;
    padding: 8px;
    box-shadow: 3px 3px 1px 0px #c3bcbc;
}

.card-record {
    background: wheat;
    width: 100%;
    margin: 1rem;
    padding: 10px;
    border-top: 5px solid #ffb833;
}

.card-record > div > p {
    margin: 0;
    padding: 2px;
    font-size: 14px;
    
}

.card-record > div > h3 {
    margin:0;
    font-size: 18px;
}

.card-record > div > p > span {
    font-weight: 600;
}

.login-form {
    height: 300px;
    background: wheat;
    display: flex;
    flex-direction: column;
    margin:0;
    margin-left:1rem;
    box-shadow: 4px 6px 6px 0px #b9b9b9;
}

.login-form > div {
    padding: 5px;
    margin:1rem 1rem 0rem 1rem;
    border: none;
}
.login-form > div > input {
    padding: 4px;
    margin: 3px;
    border: none;
}

.login-form > div > h3 {
    margin-bottom:1rem;
    margin-top:1rem;
}

.login-sign {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sign-form {
    padding: 2rem;
    background: wheat;
    margin: 1rem;
    height:350px;
    box-shadow: 4px 6px 6px 0px #b9b9b9;
}

.sign-form > div {
    padding:10px;
}


.sign-form > div > input {
    border: none;
    padding: 7px;
    margin: 5px;
}

.error-login {
    font-size: 14px;
    color: red;
    font-style: italic;
}

.btns {
    padding: 5px 13px;
    border: none;
    background: #FF9800;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bolder;

}

.sort-plants {
    width: 100%;
    height: 30px;
    background: wheat;
    margin: 0rem 1rem 0rem 1rem;
    display: flex;
    border: 3px solid orange;
    justify-content: flex-end;
    
}

.sort-plants > div > select {
    background: wheat;
    border: none;
}

.add-plant > div {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}
.add-plant > div >input , textarea{
    padding: 1px;
    border: none;
    border-bottom: 2px solid orange;
    background: wheat;
    width:60%;
}

.add-plant > div > textarea {
    height: 98px;
}

.submit-addplant {
    box-shadow: 4px 6px 6px 0px #b9b9b9!important;
    padding: 5px 8px!important;
    width:auto!important;
}